body {
  padding: 0;
  margin: 0;
}

html,
body,
#mapid {
  height: 100%;
  width: 100%;
}

p,
h1,
h2,
h3 {
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 0px;
}

p {
  margin-bottom: 0px;
}

.regionname {
  cursor: pointer;
}

.regionname:hover {
  color: #444444;
}

.sidenav {
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px;
  background-color: #eff1f3;
  z-index: 1000;
  max-width: 300px;
  overflow-y: scroll;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #e2e4e8;
  border-width: 0.5px;
}

.sidebox {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 10px;
  box-shadow: 0px 3px 0px #e2e4e8;
  border: solid;
  border-color: #e2e4e8;
  border-width: 1px;
}

.instructions {
  text-align: justify;
  text-justify: inter-word;
}

.button {
  --bg-color: #ff0000;
  --bottom-color: #bb0000;
  border: none;
  color: #ffffff;
  background-color: var(--bg-color);
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 4px;
  transition-duration: 0.2s;
  box-shadow: 0px 2px 0px var(--bottom-color);
  font-weight: bold;
}

.bluebutton {
  --bg-color: #4f79ff;
  --bottom-color: #3e5ec7;
}

.greenbutton {
  --bg-color: #3ddb62;
  --bottom-color: #2aa347;
}

.orangebutton {
  --bg-color: #fcba03;
  --bottom-color: #d19a00;
}

.outlinebutton {
  --bottom-color: var(--bg-color);
  border-color: var(--bg-color);
  background-color: #ffffff;
  border: solid 1px;
  color: var(--bg-color);
}

/* could get rid of width and display */
.revealer {
  text-align: left;
  width: 100%;
  display: block;
  margin: 4px 0px;
}

.input {
  background-color: #dddddd;
  border: none;
  border-radius: 2px;
  font-size: 12px;
  padding: 2px 8px;
  box-shadow: 0px 2px 0px #aaaaaa;
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 0px var(--bottom-color);
}

.button:focus {
  outline: none;
}

.input:focus {
  outline: none;
}

.flex {
  display: flex;
}

.sidebox.internalbox {
  margin-top: 4px;
  margin-bottom: 4px;
}

.vertical {
  flex-direction: column;
}

.fillwidth {
  flex: 1;
}

.hundredwidth {
  width: 100%;
  display: block;
}

.nosidemargins {
  margin-left: 0px;
  margin-right: 0px;
}

.uploadmessage {
  font-weight: bolder;
  color: #adadad;
}
